/output
/qa
/temp
txCache/
org.hl7.fhir.igpublisher.jar
fhir-all-xsd/
org.hl7.fhir.igpublisher.jar.3.0.0
org.hl7.fhir.igpublisher.jar.3.1.0
org.hl7.fhir.igpublisher.jar.3.0.1
org.hl7.fhir.igpublisher.jar.000
org.hl7.fhir.igpublisher.jar.001
org.hl7.fhir.igpublisher.jar.old
org.hl7.fhir.igpublisher.new.jar
tmp/
org.hl7.fhir.igpublisher.jar.002
manual-fix/definitions.xml.zip
manual-fix/definitions.xml/
manual-fix/fixed/
manual-fix/from/
manual-fix/pd/
manual-fix/pd-fixed/
manual-fix/pd-from/
org.hl7.fhir.igpublisher.jar.003
.vs/au-fhir-base/v15/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
org.hl7.fhir.publisher.cli-0.9.43-20190723.110618-1.jar
org.hl7.fhir.publisher.jar-0.9.42
org.hl7.fhir.publisher.jar
