/output
/qa
/temp
txCache/
fhir-all-xsd/
tmp/
manual-fix/
.vs/
*.jar
resources/ig-expansion-parameters.json
resources/ig-validation-parameters.json
resources/ig-new.json
resources/ig-new.xml
/output**

org.hl7.fhir.publisher.jar0
/input-cache/schemas
/template
