<nav class="breadcrumb">
  {% if page.active == 'home' %}
  <span class="breadcrumb-item active" href="index.html">Home</span>
    {% endif %}
    {% if page.active != 'home' and page.level != 2 %}
      <a class="breadcrumb-item" href="index.html">Home</a>
      /
      <span class="breadcrumb-item active">{{page.title}}</span>
    {% endif %}
    {% if page.active == 'profiles' and  page.level == 2 %}
      <a class="breadcrumb-item" href="index.html">Home</a>
      /
      <a class="breadcrumb-item" href="profiles.html">Profiles</a>
      /
      <span class="breadcrumb-item active">{{page.path | remove: '.html'}}</span>
    {% endif %}
    {% if page.active == 'capstatements' and  page.level == 2 %}
      <a class="breadcrumb-item" href="index.html">Home</a>
      /
      <a class="breadcrumb-item" href="capabilitystatements.html">Capability Statements</a>
      /
      <span class="breadcrumb-item active">{{page.path | remove: '.html'}}</span>
    {% endif %}
    {% if page.active == 'terminology' and  page.level == 2 %}
      <a class="breadcrumb-item" href="index.html">Home</a>
      /
      <a class="breadcrumb-item" href="terminology.html">Terminology</a>
      /
      <span class="breadcrumb-item active">{{ page.path | remove: '.html'}}</span>
    {% endif %}

</nav>
