  </div>  <!-- /container -->
 </div>  <!-- /segment-breadcrumb -->

 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">


<div class="col-12">

  
<!--ReleaseHeader--><p id="publish-box">This page is part of AU Base v4.1.0 based on <a href="http://hl7.org/fhir/R4">FHIR R4</a>.  For a full list of available versions, see the <a href="http://hl7.org.au/fhir/history.html">Directory of published versions <img src="external.png" style="text-align: baseline"></a></p><!--EndReleaseHeader-->
