<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li>
    <a href="index.html">Home</a>
  </li>
 <!--
   <li>
		<a href="guidance.html">Conformance</a>
	</li>
-->
  <li> 
    <a href="guidance.html">Guidance</a>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">FHIR Artifacts
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="profiles-and-extensions.html">Profiles and Extensions</a>
      </li>
		<!--
      <li>
        <a href="search-parameters-and-operations.html">Search Parameters and Operations</a>
      </li>
	  -->
      <li>
        <a href="terminology.html">Terminology</a>
      </li>
	  <!--
	  <li>
        <a href="capability-statements.html">Capability Statements</a>
      </li>
	  -->
    </ul>
  </li>
  <!--<li>
    <a href="security.html">Security</a>
  </li>-->
  <li>
    <a href="examples.html">Examples</a>
  </li>
  <li>
    <a href="downloads.html">Downloads</a>
  </li>
  <li>
    <a href="changes.html">Change Log</a>
  </li>
</ul>