---
category: home
---
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Identifiers - Australian FHIR Implementation Guide</title>

  {% include header.html %}

</head>
<body>
{% include navbar.html %}

 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">
  <!-- CONTENT CONTENT -->

<div class="col-9">

<h1>Identifiers - Australian FHIR Implementation Guide</h1>

<h2>Known Identifier Systems</h2>
<p>
FHIR&trade; known identifier systems are listed at <a href="http://build.fhir.org/identifier-registry.html"/>http://build.fhir.org/identifier-registry.html</a> some of these may be relevant for Australian use.
As part of Australian context local identifier systems are needed, these may be registered with international specifications at some stage.
<table border="1" cellspacing="0">
<caption><b>Identifier System</b></caption>
<tr><th>URI</th><th>Type</th><th>Source</th><th>Comment</th><th>OID</th></tr>
<tr><td><a href="http://ns.electronichealth.net.au/id/hi/ihi/1.0">http://ns.electronichealth.net.au/id/hi/ihi/1.0</a></td><td></td><td></td><td>IHI</td><td></td></tr>
<tr><td><a href="http://ns.electronichealth.net.au/id/medicare-number">http://ns.electronichealth.net.au/id/medicare-number</a></td><td>NI</td><td></td><td>Medicare Number</td><td></td></tr>
<tr><td><a href="http://ns.electronichealth.net.au/id/hi/hpii/1.0">http://ns.electronichealth.net.au/id/hi/hpii/1.0</a></td><td></td><td></td><td>HPI-I</td><td></td></tr>
<tr><td><a href="http://ns.electronichealth.net.au/id/hi/prn">http://ns.electronichealth.net.au/id/??</a></td><td>PRN</td><td></td><td>Provider number</td><td></td></tr>
<tr><td><a href="http://ns.electronichealth.net.au/id/hi/hpio/1.0"> http://ns.electronichealth.net.au/id/hi/hpio/1.0</a></td><td></td><td></td><td>HPI-O</td><td></td></tr>
</table>
</p>

<hr/>

<h2>See Also</h2>
<ul>
 <li>Extension <a href="StructureDefinition-identifier-location.html">Identifier Location</a> - for Practitioner Provider Numbers</li>
</ul>

</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->

{% include footer.html %}
</body>
</html>