---
category: home
---
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Base Australian FHIR Implementation Guide</title>

  {% include header.html %}

</head>
<body>
{% include navbar.html %}

 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">
  <!-- CONTENT CONTENT -->

<div class="col-9">

<h1>Base Australian FHIR Implementation Guide</h1>

<p>
Welcome to the base FHIR implementation guide for Australia. All use of FHIR 
in Australia should build on the basic profiles and use the terminologies and
identifier systems contained here.
</p>

<h2>Profiles on Patient</h2>

<ul>
 <li><a href="StructureDefinition-au-patient.html">Australian Patient</a></li>
 <li><a href="StructureDefinition-au-patient-human.html">Australian Patient - Human only</a></li>
</ul>

<hr/>

<h2>Extensions</h2>

<ul>
 <li><a href="StructureDefinition-identifier-location.html">Identifier Location</a> - for Practitioner Provider Numbers</li>
</ul>

<hr/>

</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->

{% include footer.html %}
</body>
</html>