---
category: home
---
<!DOCTYPE HTML>
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Terminologies - Australian FHIR Implementation Guide</title>

  {% include header.html %}

</head>
<body>
{% include navbar.html %}

 <div id="segment-content" class="segment">  <!-- segment-content -->
 <div class="container">  <!-- container -->
            <div class="row">
             <div class="inner-wrapper">
  <!-- CONTENT CONTENT -->

<div class="col-9">

<h1>Terminologies - Australian FHIR&trade; Implementation Guide</h1>
<h2>Known Code Systems</h2>
<p>
FHIR&trade; known code systems are listed at <a href="http://build.fhir.org/terminologies-systems.html"/>http://build.fhir.org/terminologies-systems.html</a> some of these are relevant for Australian use.
As part of Australian context local coding systems are needed, these may be registered with international specifications at some stage.
<table border="1" cellspacing="0">
<caption><b>CodeSystem/ValueSet</b></caption>
<tr><th>URI</th><th>Source</th><th>Comment</th><th>OID</th></tr>
<tr><td><a href="http://build.fhir.org/ig/hl7au/au-fhir-base/ValueSet-au-indigenous-status.html">http://build.fhir.org/ig/hl7au/au-fhir-base/ValueSet-au-indigenous-status.html</a></td><td>NHDD/Meteor</td><td>Indigenous Status</td><td></td></tr>
<tr><td><a href="http://build.fhir.org/ig/hl7au/au-fhir-base/ValueSet-au-ihi-status.html">http://build.fhir.org/ig/hl7au/au-fhir-base/ValueSet-au-ihi-status.html</a></td><td>Australian Digital Health Agency</td><td>IHI number status coding</td><td></td></tr>
<tr><td><a href="http://build.fhir.org/ig/hl7au/au-fhir-base/ValueSet-au-ihi-record-status.html">http://build.fhir.org/ig/hl7au/au-fhir-base/ValueSet-au-ihi-record-status.html</a></td><td>Australian Digital Health Agency</td><td>IHI record status coding</td><td></td></tr>
</table>
</p>

<h2>HL7 V2 Tables</h2>
<p>
HL7 V2 standard tables are published by HL7.org as ValueSet resources that can be utilised in profile definitions.<br/>
<table border="1" cellspacing="0">
<caption><b>V2 Tables is Use</b></caption>
<tr><th>Name</th><th>URI</th><th>Description</th></tr>
<tr><td>0203</td><td><a href="http://hl7.org/fhir/v2/0203">http://hl7.org/fhir/v2/0203</a></td><td>Identifier Type</td></tr>
</table>
</p>
<p>
HL7 V2 tables are also commonly extended for Australian use. This has been often implied in AS4700.x series Australian Standards content and can be referenced in defined profiles.
'Shadow' V2 tables for AU extenstions can be defined for this content.
Currently these are reference without a formal ValueSet defined.  
The intent is to implement these tables so can be used in validation. <br/>

<table border="1" cellspacing="0">
<caption><b>AU V2 Tables is Use</b></caption>
<tr><th>Name</th><th>URI</th><th>Description</th></tr>
<tr><td>0203 AU</td><td><a href="http://hl7.org.au/fhir/v2/0203">http://hl7.org.au/fhir/v2/0203</a></td><td>Australia Extension Identifier Type</td></tr>
</table>
</p>

<hr/>

</div>

    </div>  <!-- /inner-wrapper -->
            </div>  <!-- /row -->
        </div>  <!-- /container -->

    </div>  <!-- /segment-content -->

{% include footer.html %}
</body>
</html>